+font-face('PFDinTextProBold', '../fonts/PFDinTextProBold/PFDinTextProBold')
=pb
  font-family: 'PFDinTextProBold', sans-serif

+font-face('PFDinTextProLight', '../fonts/PFDinTextProLight/PFDinTextProLight')
=pl
  font-family: 'PFDinTextProLight', sans-serif

+font-face('PFDinTextProMedium', '../fonts/PFDinTextProMedium/PFDinTextProMedium')
=pm
  font-family: 'PFDinTextProMedium', sans-serif

+font-face('PTRoubleSans', '../fonts/PTRoubleSans/PTRoubleSans')
=rub
  font-family: 'PTRoubleSans', sans-serif