body
  +pl
  font-size: 18px
  line-height: (30/18)
  color: $color-default

.hidden
  display: none

.container
  +box
  max-width: 1200px
  padding: 0 15px
  margin: 0 auto

.page
  &__wrap
    background-color: #fff
    overflow: hidden
    .fixed-menu &
      margin-top: 51px
      +r(768)
        margin-top: 0

img
  max-width: 100%


+sprites($icon-sprites)

.icon
  display: inline-block
  vertical-align: middle


.round-icon
  background-color: #ffe200
  width: 90px
  height: 90px
  line-height: 90px
  border-radius: 100%
  box-shadow: 0 12px 32px rgba(#cfb700, .41)
  text-align: center

.btn
  +pb
  cursor: pointer
  display: inline-block
  user-select: none
  color: $color-default
  border: 0 none
  &_primary
    background-color: $color-primary
    box-shadow: 0 5px 32px rgba(#f5d900, .22)
    height: 70px
    line-height: 74px
    padding: 0 33px
    font-size: 22px
    +r(580)
      font-size: 18px
    &:hover
      background-color: $color-primary-hover

  &_icon
    .icon
      vertical-align: middle
      position: relative
      top: -2px
      margin-right: 20px
      +r(480)
        margin-right: 10px
    span
      vertical-align: middle

.title
  text-align: center
  &__title
    +pb
    font-size: 48px
    line-height: 1
    +r(992)
      font-size: 36px
    +r(768)
      font-size: 32px
    +r(480)
      font-size: 24px
  &__desc
    font-size: 36px
    line-height: (48/36)
    +r(992)
      font-size: 28px
    +r(768)
      font-size: 24px
    +r(480)
      font-size: 20px

  &__line
    margin-top: 25px
    width: 70px
    height: 5px
    background-color: #ffe200
    display: inline-block


.rouble
  +rub

.in
  &:hover
    opacity: .7

.vk
  display: block
  width: 30px
  height: 30px
  line-height: 30px
  background-color: #4d76a1
  text-align: center
  &:hover
    background-color: #7ca4ce


.addres
  .icon
    margin-right: 15px

.phone
  +pb
  font-size: 18px
  color: $color-default

.form
  +box
  padding: 50px
  text-align: center
  +r(480)
    padding: 30px 
  &__title
    +pb
    font-size: 36px
    line-height: (44/36)
    +r(768)
      font-size: 28px
      line-height: 1.2
  &__text
    margin-top: 5px
    font-size: 20px
    line-height: (30/20)
    +r(480)
      font-size: 16px
      line-height: 1.3

  &__line
    display: inline-block
    width: 70px
    height: 5px
    background-color: $color-primary
    margin: 20px 0

  .field
    display: block
    width: 100%
    text-align: center

  .btn
    margin-top: 25px
    box-shadow: 0 5px 32px rgba(#f5d900, .22)
    height: 60px
    line-height: 64px



.field
  +box
  height: 60px
  background-color: #f5f5f5
  border: 0 none
  font-size: 16px
  outline: none
  &:focus
    box-shadow: 0 0 0 1px $color-primary
    background-color: #fff
  &::placeholder
    color: #999


.popup
  position: relative
  max-width: 430px
  margin: 0 auto
  background-color: #fff
  &#popup-polit
    max-width: 800px
    padding: 30px
  .form
    &__title
      font-size: 30px
    &__text
      font-size: 18px


#mobile-menu
  .wrap-phone
    padding: 10px 10px 10px 20px
  .btn
    box-shadow: none
    font-size: 13px
    height: 34px
    line-height: 36px
    padding: 0 15px
    text-transform: uppercase
    display: inline-block
    vertical-align: middle

  .phone
    margin-right: 10px
    padding: 0
    display: inline-block
    vertical-align: middle
    vertical-align: middle

#mobile-menu
  display: none !important
  +r(768)
    display: block !important

.polit-popup
  line-height: 1.1
  font-size: 16px
  &__title
    +pb
    font-size: 24px
    margin-bottom: 15px

  &__subtitle
    +pb
    font-size: 18px
    margin-bottom: 10px

  p
    margin: 10px 0

  ul
    margin: 10px 0
  li
    margin: 5px 0