.catalog
  background-image: url(../img/catalog-bg.jpg)
  +cover
  padding: 160px 0
  +r(1200)
    padding: 100px 0
  +r(992)
    padding: 70px 0

  &__inner
    background-color: #fff
    position: relative
    box-shadow: 0 4px 144px rgba(#000, .21)
    +r(992)
      max-width: 570px
      margin: 0 auto

  &__img
    position: absolute
    top: -160px
    right: 50%
    margin-right: -200px
    +r(1200)
      max-width: 900px
      margin-right: -100px
      top: -100px
    +r(992)
      display: none

  &__body
    +box
    max-width: 570px
    margin-left: auto
    padding: 45px 45px
    position: relative
    z-index: 2
    text-align: center
    +r(992)
      margin: 0 auto
    +r(768)
      padding: 30px 20px

  p
    margin: 20px 0 30px
    font-size: 16px
    line-height: (30/16)
    +r(480)
      line-height: 1.3
    strong
      +pb

  &__title
    text-align: center
    +pb
    font-size: 36px
    line-height: 1.1
    +r(768)
      font-size: 28px
    +r(480)
      font-size: 24px
    span
      display: block
    &:after
      content: ''
      display: inline-block
      width: 70px
      height: 5px
      background-color: $color-primary

  .btn
    +r(400)
      width: 100%
      padding: 0
      font-size: 16px
