.map
  #map
    height: 700px
    +r(480)
      height: 500px

  &__inner
    position: relative
  &__list
    +box
    position: absolute
    top: 200px
    background-color: #21146e
    border-right: 7px solid $color-primary
    color: #fff
    font-size: 20px
    max-width: 380px
    box-shadow: 0 0 100px rgba(#000, .5)
    z-index: 50
    +r(480)
      top: 100px
    &:after
      content: ''
      position: absolute
      top: 50%
      margin-left: 7px
      left: 100%
      width: 0
      height: 0
      border-top: 8px solid transparent
      border-left: 10px solid $color-primary
      border-bottom: 8px solid transparent

  li+li
    border-top: 1px solid #3f3193

  &__item
    padding: 20px 30px
    +r(480)
      padding: 15px 15px
      font-size: 16px
    &_social
      padding: 15px 30px
      +r(480)
        padding: 10px 15px

  &__phone
    +pb
    color: #fff
    .icon
      margin-right: 10px

  &__mail
    color: #fff
    &:hover
      span
        border-color: transparent
    .icon
      margin-right: 10px
    span
      border-bottom: 1px solid #fff

  &__map
    .icon
      margin-right: 10px

  &__social
    .vk,
    .in
      margin-left: 10px
      display: inline-block