
.sec10
  padding: 130px 0
  +r(992)
    padding: 100px 0
  +r(480)
    padding: 50px 0
  &__list
    display: flex
    justify-content: space-between
    align-items: stretch
    margin: 10px -15px 0
    +r(768)
      display: block

  &__col
    +box
    width: 33.33333%
    padding: 0 15px
    margin: 20px 0 0
    display: flex
    align-items: stretch
    +r(768)
      width: 100%

  &__item
    text-align: center
    width: 100%
    padding-bottom: 25px
    border: 5px solid #f5f5f5
    +r(768)
      max-width: 450px
      margin: 0 auto

  &__preview
    display: block
    height: 245px
    margin: -5px -5px 0
    +cover
    +r(992)
      height: 180px

  &__bottom
    padding-top: 5px
    +box

  &__line
    display: inline-block
    width: 40px
    height: 3px
    background-color: $color-primary

  &__title
    +pb
    font-size: 20px
    +r(992)
      font-size: 18px
      line-height: 1.2
      margin-bottom: 10px

  &__text
    font-size: 16px
    line-height: (24/16)
    color: #868686

  .btn
    margin-top: 15px
    font-size: 16px
    height: 40px
    line-height: 40px
    padding-left: 15px
    padding-right: 15px
