.sec1
  background-image: url(../img/sec1-bg.jpg)
  background-position: 50% 0
  background-repeat: no-repeat
  background-size: cover
  text-align: center
  padding: 155px 0 135px
  +r(580)
    padding: 100px 0

  &__up-title,
  &__bottom-title
    +pb
    font-size: 36px
    +r(992)
      font-size: 24px
    +r(480)
      font-size: 18px

  &__title
    +pb
    text-transform: uppercase
    font-size: 72px
    color: #21146e
    max-width: 830px
    line-height: 1.15
    margin: 13px auto 0
    +r(992)
      font-size: 48px
    +r(580)
      font-size: 36px
    +r(480)
      font-size: 32px

  .btn
    margin-top: 40px
    box-shadow: 0 12px 32px rgba(#cfb700, .41)
