.sec2
  background-image: url(../img/sec2-bg.jpg)
  background-repeat: no-repeat
  background-position: 50% 0
  padding: 112px 0 125px
  position: relative
  +r(992)
    padding: 100px 0
  +r(480)
    padding: 50px 0

  &__girl
    position: absolute
    top: 255px
    left: 50%
    transform: translateX(-50%)
    +r(1200)
      width: 500px
    +r(992)
      display: none


  &__title
    +pb
    font-size: 48px
    text-align: center
    line-height: 1
    +r(992)
      font-size: 36px
    +r(768)
      font-size: 32px

  &__desc
    font-size: 36px
    line-height: (48/36)
    text-align: center
    +r(992)
      font-size: 28px
    +r(768)
      font-size: 24px

  &__list
    position: relative
    z-index: 2
    +clr
    margin-top: 110px
    +r(992)
      margin-top: 20px

  &__item
    width: 50%
    display: flex
    align-items: center
    margin: 45px 0
    +box
    +r(1200)
      margin: 20px 0
    +r(620)
      flex-wrap: wrap
    &_l
      float: left
      text-align: right
      justify-content: flex-end
      padding-right: 280px
      +r(1200)
        padding-right: 180px
      +r(992)
        padding-right: 20px
      +r(620)
        justify-content: center
        padding-right: 0
        text-align: center
      .round-icon
        margin-left: 25px
        +r(1200)
          margin-left: 15px
        +r(620)
          margin-left: 0
    &_r
      float: right
      justify-content: flex-start
      padding-left: 270px
      +r(1200)
        padding-left: 180px
      +r(992)
        padding-left: 20px
      +r(620)
        justify-content: center
        padding-left: 0
        text-align: center
      .round-icon
        margin-right: 25px
        +r(1200)
          margin-right: 15px
        +r(620)
          margin-right: 0


  .round-icon
    flex: none
    +r(620)
      margin-bottom: 10px
      order: 0

  &__item-text
    font-size: 20px
    line-height: (30/20)
    +r(400)
      font-size: 18px
    +r(620)
      order: 2
      width: 100%
    strong
      +pb
      font-size: 24px
      line-height: (30/24)
      +r(400)
        font-size: 18px
