.sec3
  background-image: url(../img/sec3-bg.jpg)
  +cover
  padding: 105px 0 60px
  position: relative
  +r(992)
    padding: 100px 0
  +r(480)
    padding: 50px 0
  &__girl
    position: absolute
    top: 272px
    left: 50%
    transform: translateX(-50%)
    +r(1200)
      width: 500px
    +r(992)
      display: none


  &__list
    position: relative
    z-index: 2
    +clr
    margin-top: 15px
    +r(768)
      display: flex
      align-items: stretch
      flex-wrap: wrap
  &__item
    width: 50%
    display: flex
    align-items: center
    margin: 40px 0
    +box
    +r(1200)
      margin: 15px 0
    +r(768)
      margin: 15px auto
      flex-direction: column
      justify-content: center

    &_l
      float: left
      text-align: right
      justify-content: flex-end
      padding-right: 220px
      +r(1200)
        padding-right: 160px
      +r(992)
        padding-right: 20px
      +r(768)
        float: none
        padding-right: 0
        text-align: center
        justify-content: center
      .round-icon
        margin-left: 25px
        +r(1200)
          margin-left: 15px
        +r(768)
          margin-left: 0
    &_lc
      padding-right: 270px
      +r(1200)
        padding-right: 180px
      +r(992)
        padding-right: 20px
      +r(768)
        padding-right: 0
    &_r
      float: right
      justify-content: flex-start
      padding-left: 220px
      +r(1200)
        padding-left: 160px
      +r(992)
        padding-left: 20px
      +r(768)
        float: none
        padding-left: 0
        text-align: center
        justify-content: center
      .round-icon
        margin-right: 25px
        +r(1200)
          margin-right: 15px
        +r(768)
          margin-right: 0
    &_rc
      padding-left: 270px
      +r(1200)
        padding-left: 180px
      +r(992)
        padding-left: 20px
      +r(768)
        padding-left: 0

  .round-icon
    flex: none
    +r(768)
      margin-bottom: 10px
      order: 0

  &__item-text
    flex: 1 1 auto
    font-size: 18px
    line-height: (30/18)
    +r(768)
      width: 100%
      order: 1
      text-align: center
      max-width: 250px
      margin: 0 auto
    +r(500)
      font-size: 16px
    strong
      +pb
      color: #21146e
      font-size: 36px
      line-height: 1
      +r(768)
        display: block
        text-align: center
      +r(500)
        font-size: 24px
    br
      +r(768)
        display: none

  sup
    font-size: .5em
    vertical-align: super

