.sec4
  text-align: center
  padding: 130px 0
  +r(768)
    padding: 100px 0
  +r(480)
    padding: 50px 0

  &__list
    display: flex
    margin: 30px 0 70px
    +r(992)
      flex-wrap: wrap
    +r(480)
      margin-bottom: 50px

  &__item
    width: 25%
    text-align: center
    +r(992)
      width: 50%

  &__frame
    +box
    display: inline-block
    width: 230px
    height: 325px
    padding: 22px
    background-image: url(../img/frame.jpg)
    +r(500)
      width: 140px
      height: 198px
      padding: 15px
      background-size: contain

  &__inner
    display: block
    height: 100%
    +cover

  .btn
    +r(480)
      text-align: center
      width: 100%
      +box
      padding: 0
      font-size: 16px
