.sec5
  background-color: #f2f3f5
  padding: 125px 0
  +r(992)
    padding: 100px 0
  +r(480)
    padding: 50px 0
  &__tab-nav
    margin-top: 30px
    display: flex
    justify-content: space-between
    align-items: stretch
    +r(880)
      flex-wrap: wrap
      justify-content: center
    +r(480)
      margin-top: 10px
    a
      flex: 1 1 auto
      text-align: center
      background-color: #fff
      display: inline-block
      font-size: 18px
      color: $color-default
      height: 60px
      line-height: 64px
      position: relative
      +r(880)
        width: 33.3333%
        &:nth-child(4):after
          display: none
      +r(620)
        width: 50%
        font-size: 16px
        height: 40px
        line-height: 44px
        &:nth-child(4):after
          display: block
        &:nth-child(2n+1):after
          display: none
      +r(450)
        width: 100%
        &:nth-child(4):after
          display: none
        &:after
          display: none

      &:hover
        span
          border: 0 none
      &:not(:first-child):after
        content: ''
        position: absolute
        top: 50%
        margin-top: -10px
        left: 0
        width: 1px
        height: 20px
        background-color: #d4d4d4

      &.active
        +pb
        background-color: $color-primary
        &+a
          &:after
            display: none
        &:after
          display: none
        span
          border: 0 none



      span
        border-bottom: 1px solid #d4d4d4
        line-height: 1

  &__tab-content
    margin: 0 100px
    padding-top: 60px
    +r(768)
      margin: 0
      padding-top: 30px
    p
      text-align: center
      +r(580)
        font-size: 16px
        line-height: 1.3
      strong
        +pb

  &__tab-wrap
    outline: none

  &__slider
    margin-top: 50px
    position: relative

  .owl-prev,
  .owl-next
    width: 60px
    height: 60px
    background-color: #fff
    border-radius: 100%
    box-shadow: 0 3px 65px rgba(#000, .15)
    line-height: 60px
    text-align: center
    +r(768)
      box-shadow: none
    &:hover
      background-color: #21146e
      path
        fill: #fff
    span
      display: inline-block
      position: relative
      top: 5px
    path
      fill: #21146e


  .owl-prev
    position: absolute
    top: 100px
    right: 100%
    margin-right: 40px
    +r(768)
      margin-right: -20px
      text-align: right
      span
        margin-right: 17px
  .owl-next
    position: absolute
    top: 100px
    left: 100%
    margin-left: 40px
    +r(768)
      margin-left: -20px
      text-align: left
      span
        margin-left: 17px


.slider-item
  padding: 5px
  background-color: #fff
  &__preview
    height: 205px
    +cover

  &__title
    +pb
    font-size: 18px
    line-height: (22/18)

  &__prc
    white-space: nowrap
    padding: 0 10px
    background-color: $color-primary
    +pb
    font-size: 18px

  &__bottom
    display: flex
    align-items: center
    justify-content: space-between
    padding:
      left: 15px
      top: 15px
      bottom: 15px
    margin-right: -5px




