.sec6
  background-image: url(../img/sec6-bg.jpg)
  +cover
  padding: 135px 0 85px
  +r(992)
    background: none
    padding: 100px 0
  +r(480)
    padding: 50px 0

  &__inner
    max-width: 570px
    text-align: center
    +r(992)
      margin: 0 auto

  &__title
    +pb
    span
      font-size: 36px
      line-height: 1.3
      display: block
      +r(992)
        font-size: 32px
        line-height: 1.2
      +r(570)
        font-size: 28px
      +r(480)
        font-size: 24px

    &:after
      content: ''
      display: inline-block
      width: 70px
      height: 5px
      background-color: $color-primary

  &__text
    margin-top: 25px
    +r(570)
      font-size: 16px
      line-height: 1.3

  &__line
    margin: 20px 0 30px
    background-color: #fff
    box-shadow: 0 3px 73px rgba(#000, .15)
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 30px
    +r(480)
      display: block

  .icon
    position: relative
    top: -2px
    margin-right: 15px

  &__prc,
  &__time
    +pb
    font-size: 22px
    +r(570)
      font-size: 18px