.sec7
  background-image: url(../img/sec7-bg.jpg)
  +cover
  padding: 130px 0 120px
  +r(1100)
    padding: 100px 0
  +r(480)
    padding: 50px 0
  &__inner
    display: flex
    justify-content: space-between
    +r(1100)
      display: block

  &__form
    max-width: 430px
    position: relative
    +r(1100)
      margin: 0 auto
    .form
      position: relative
      z-index: 2
      background-color: #fff
      box-shadow: 0 3px 76px rgba(#000, .35)
    &:after
      content: ''
      position: absolute
      bottom: -10px
      left: 50%
      margin-left: -300px
      width: 598px
      height: 462px
      z-index: 1
      background-image: url(../img/sec7-form-bg.png)
      background-repeat: no-repeat
      +r(768)
        width: 570px
        height: 440px
        +cover
      +r(480)
        height: 380px
        width: 492px
        margin-left: -250px




  &__side
    color: #fff
    margin-left: auto
    max-width: 570px
    padding-top: 45px
    position: relative
    z-index: 3
    +r(1100)
      margin: 0 auto


  &__title
    +pb
    text-align: center
    font-size: 36px
    line-height: (48/36)
    margin-bottom: 15px
    +r(530)
      font-size: 28px
    br
      display: none
      +r(530)
        display: block
    &:after
      content: ''
      display: inline-block
      width: 70px
      height: 5px
      position: relative
      top: -10px
      background-color: $color-primary
  
    mark
      color: $color-default
      display: inline-block
      background-color: $color-primary
      box-shadow: 0 5px 32px rgba(#f5d900, .22)
      padding-top: 5px
      padding-left: 15px
      padding-right: 15px
    span
      display: block

  &__subtitle
    +pb
    font-size: 24px
    margin: 20px 0
    +r(530)
      font-size: 20px
    +r(400)
      font-size: 18px
      line-height: 1.2
      text-align: center

  &__item
    display: flex
    align-items: center
    font-size: 18px
    line-height: (30/18)
    +r(530)
      font-size: 16px
      line-height: 1.3
    .icon
      flex: none
      margin-right: 20px