.sec8
  padding: 130px 0
  +r(992)
    padding: 100px 0
  +r(480)
    padding: 50px 0

  &__list
    margin-top: 30px
    position: relative

  &__item
    text-align: center
    width: 100%
    border: 5px solid #f5f5f5
    +r(992)
      max-width: 250px
      margin: 0 auto

  &__preview
    height: 290px
    margin: -5px -5px 0
    +cover

  &__bottom
    padding-top: 20px
    +box

  &__line
    display: inline-block
    width: 40px
    height: 3px
    background-color: $color-primary

  &__name
    +pb
    font-size: 20px

  &__position
    font-size: 16px
    line-height: (24/16)
    color: #868686


  .owl-prev,
  .owl-next
    width: 60px
    height: 60px
    background-color: #fff
    border-radius: 100%
    line-height: 60px
    text-align: center
    &.disabled,
    &.disabled:hover
      background-color: #eee
      path
        fill: #ddd
    &:hover
      background-color: #21146e
      path
        fill: #fff
    span
      display: inline-block
      position: relative
      top: 5px
    path
      fill: #21146e


  .owl-prev
    position: absolute
    top: 100px
    right: 100%
    margin-right: -20px
    text-align: right
    span
      margin-right: 17px
  .owl-next
    position: absolute
    top: 100px
    left: 100%
    margin-left: -20px
    text-align: left
    span
      margin-left: 17px
