.sec9
  background-image: url(../img/sec9-bg.jpg)
  +cover
  padding: 125px 0 105px
  +r(992)
    padding: 100px 0
  +r(480)
    padding: 50px 0
  &__desc
    font-size: 24px
    line-height: (36/24)
    text-align: center
    max-width: 1000px
    margin: 30px auto 45px
    +r(768)
      font-size: 20px
      line-height: 1.3
      margin: 25px 0
    +r(480)
      font-size: 18px
      margin: 15px 0
  &__tab-nav
    margin-top: 30px
    margin-bottom: 15px
    display: flex
    justify-content: space-between
    align-items: stretch
    +r(620)
      flex-wrap: wrap
    a
      flex: 1 1 auto
      text-align: center
      background-color: #fff
      display: inline-block
      font-size: 18px
      color: $color-default
      height: 60px
      line-height: 64px
      position: relative
      +r(620)
        width: 50%
        &:nth-child(2n+1):after
          display: none
      +r(410)
        width: 100%
        font-size: 16px
        height: 40px
        line-height: 44px
        &:after
          display: none
      &:hover
        span
          border: 0 none
      &:not(:first-child):after
        content: ''
        position: absolute
        top: 50%
        margin-top: -10px
        left: 0
        width: 1px
        height: 20px
        background-color: #d4d4d4

      &.active
        +pb
        background-color: $color-primary
        &+a
          &:after
            display: none
        &:after
          display: none
        span
          border: 0 none


  &__tab-wrap
    outline: none

  &__line
    background-color: #fff
    margin: 30px 0
    position: relative
    padding-top: 30px
    padding-bottom: 30px
    &:before
      content: ''
      position: absolute
      top: 0
      left: 50%
      margin-left: -35px
      width: 70px
      height: 5px
      background-color: $color-primary

  &__title
    +pb
    text-align: center
    font-size: 30px
    +r(480)
      font-size: 24px

  &__list
    +box
    margin: 20px 0 0
    padding: 0 15px


  &__preview
    height: 170px
    +cover

  .owl-prev,
  .owl-next
    width: 60px
    height: 60px
    background-color: #fff
    border-radius: 100%
    line-height: 60px
    text-align: center
    position: absolute
    top: 55px
    &.disabled,
    &.disabled:hover
      background-color: #eee
      path
        fill: #ddd
    &:hover
      background-color: #21146e
      path
        fill: #fff
    span
      display: inline-block
      position: relative
      top: 5px
    path
      fill: #21146e


  .owl-prev
    right: 100%
    margin-right: -20px
    text-align: right
    span
      margin-right: 17px
  .owl-next
    left: 100%
    margin-left: -20px
    text-align: left
    span
      margin-left: 17px