.header
  background-color: #fff
  box-shadow: 0 4px 40px rgba(#000, .11)
  position: relative
  z-index: 5
  .fixed-menu &
    +r(768)
      position: fixed
      top: 0
      right: 0
      left: 0
      height: 69px
      z-index: 51
  &__inner
    position: relative
    +clr
    padding: 18px 0
    +r(980)
      text-align: right
    +r(768)
      display: flex
      justify-content: space-between
      align-items: center
      padding: 0

  &__l
    float: left
    width: 50%
    +r(980)
      float: none
      display: inline-block
    +r(768)
      display: none

  &__r
    float: right
    width: 50%
    text-align: right
    +r(980)
      margin-top: 5px
      float: none
      display: inline-block
    +r(768)
      width: 100%
      float: none
    +r(550)
      display: none
  &__h
    line-height: 1
    position: relative
    top: 3px
    display: none
    +r(768)
      display: block
    +r(550)
      flex: 1 1 auto

  &__logo
    position: absolute
    top: 0
    left: 50%
    margin-left: -115px
    background-color: #21146e
    width: 230px
    display: block
    text-align: center
    padding: 25px 0 15px
    +r(980)
      +box
      left: -15px
      margin-left: 0
      padding-top: 15px
      height: 105px
    +r(768)
      +box
      position: relative
      flex: none
      width: 150px
      height: auto
      padding: 10px 10px 10px 20px
    img
      position: relative
      right: -10px
      +r(768)
        right: 0
        display: block

  .vk
    display: inline-block

  .in
    display: inline-block
    margin-left: 10px

  .addres
    display: inline-block
    margin-left: 10px

  .btn
    box-shadow: none
    font-size: 13px
    height: 34px
    line-height: 36px
    padding-left: 15px
    padding-right: 15px
    text-transform: uppercase

  .phone
    margin-right: 10px
    display: inline-block
    vertical-align: middle

