mixin head(data)
	title= data.title
	meta(charset="utf-8")
	
	meta(content=data.author name="author")
	meta(content=data.description name="description")
	
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="HandheldFriendly" content="true")
	meta(name="format-detection", content="telephone=no")
	meta(content="IE=edge" http-equiv="X-UA-Compatible")

	link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
		
	// build:css css/vendor.css
	link(rel="stylesheet", href="_assets/owl.carousel/dist/assets/owl.carousel.min.css")
	link(rel="stylesheet", href="_assets/slick-carousel/slick/slick.css")
	link(rel="stylesheet", href="_assets/magnific-popup/dist/magnific-popup.css")
	link(rel="stylesheet", href="_assets/jQuery.mmenu/dist/jquery.mmenu.all.css")
	// endbuild
	
	// build:css css/main.css
	link(rel="stylesheet", href="css/main.css")
	// endbuild