include _assets/bemto/bemto

include head/head

doctype html
html(lang="ru")

  block head
    head
      +head({
        "title": "Project Template",
        "author": "Sinelnikov Dmitriy",
        "description": "My default project template."
      })
      
    +b.BODY.page
      nav#mobile-menu
        ul
          li
            a(href="#sec3", rel='m_PageScroll2id') О Кухни Mesto
          li
            a(href="#sec4", rel='m_PageScroll2id') Примеры работ
          li
            a(href="#sec10", rel='m_PageScroll2id') Акции
          li
            a(href="#sec5", rel='m_PageScroll2id') Фасады
          li
            a(href="#catalog", rel='m_PageScroll2id') Каталог
          li
            a(href="#sec7", rel='m_PageScroll2id') Дизайн-проект
          li
            a(href="#sec9", rel='m_PageScroll2id') Оснащение кухни
          li
            a(href="#map-block", rel='m_PageScroll2id') Контакты
          li.wrap-phone
            +b.A.phone(href="#") +7 (978) 33-33-101
            +b.A.btn._primary.js-popup(href="#popup-call") Заказать звонок
      +e.wrap
        block header
          +b.NAV.nav
            .container
              +e.list
                +e.A.item(href="#sec3", rel='m_PageScroll2id')
                  span О Кухни Mesto
                +e.A.item(href="#sec4", rel='m_PageScroll2id')
                  span Примеры работ
                +e.A.item(href="#sec10", rel='m_PageScroll2id')
                  span Акции
                +e.A.item(href="#sec5", rel='m_PageScroll2id')
                  span Фасады
                +e.A.item(href="#catalog", rel='m_PageScroll2id')
                  span Каталог
                +e.A.item(href="#sec7", rel='m_PageScroll2id')
                  span Дизайн-проект
                +e.A.item(href="#sec9", rel='m_PageScroll2id')
                  span Оснащение кухни
                +e.A.item(href="#map-block", rel='m_PageScroll2id')
                  span Контакты
          +b.HEADER.header.Sticky
            .container
              +e.inner
                +e.A.logo(href="#")
                  img(src="img/logo.png", alt="MESTO кухни")
                +e.l
                  +b.A.vk(href="#")
                    +b.I.icon._vk
                  +b.A.in(href="#")
                    +b.I.icon._in

                  +b.addres
                    +b.I.icon._map
                    span г. Севастополь, ул. Одесская д.1
                +e.r
                  +b.A.phone(href="#") +7 (978) 33-33-101
                  +b.A.btn._primary.js-popup(href="#popup-call") Заказать звонок
                +e.h
                  a.hamburger.hamburger--slider#hamburgers(href="#mobile-menu")
                    .hamburger-box
                      .hamburger-inner

        block content
          div content

        block footer
          +b.FOOTER.footer
            .container
              +e.wrap
                +e.side
                  +b.copy 2017 &copy; MESTO кухни в Севастополе
                  +e.A.polit.js-popup(href="#popup-polit") Политика конфиденциальности
                +e.side
                  +e.A.pit(href="http://pit.marketing/") Разработано коммандой
                    img(src="img/pit.png", alt="Разработано коммандой PIT")


      .hidden
        .popup#popup-call
          +b.form
            form(action="/")
              +e.title
                strong Заказать звонок
              +e.P.text Мы перезвоним вам в ближайшее время.
              +e.line
              +b.INPUT.field(type="text", placeholder="Введите номер телефона")
              +b.BUTTON.btn._primary(type="submit") Отправить
        .popup#popup-close
          +b.form
            form(action="/")
              +e.title
                strong Дарим Вам 20 000 рублей на Вашу кухню!
              +e.P.text Для получения подарка, введите свой номер телефона, что бы мы убедились, что вы не робот и мы Вам перезвоним.
              +e.line
              +b.INPUT.field(type="text", placeholder="Введите номер телефона")
              +b.BUTTON.btn._primary(type="submit") Получить подарок
        .popup#popup-polit
            +b.polit-popup
              +e.title ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
              +e.subtitle Какую информацию мы собираем?
              p Персональные данные Пользователя/Покупателя обрабатывается в соответствии с ФЗ «О персональных данных» № 152-ФЗ.
              p Такие данные могут включать: имя, фамилию, адрес электронной почты. В момент сбора информации мы уведомляем вас, при каких обстоятельствах ваши данные могут быть сохранены нами до момента их удаления из наших баз. По вашему требованию информация в любой момент может быть удалена. Информация о посетителях сайта (IP-адрес, имя домена, тип браузера и операционная система, дата и время посещения и т. п.) собирается и сохраняется в целях ведения статистики посещений. Эта информация является общедоступной, таким образом, "М.Видео" не несет ответственности за ее разглашение.
              +e.subtitle Что мы делаем с полученной информацией?
              p Эти данные могут быть использованы в маркетинговых целях, для сообщения вам о вашей победе в конкурсе и выигранных вами призах; для рассылки вам новостей и информации об акциях, новинках и услугах «М.Видео»; для персонализации сайта на основе вашей истории поиска и просмотров.
              p Полученные данные в обезличенном виде могут быть использованы для лучшего понимания потребностей покупателей компании М.Видео и улучшения качества обслуживания.
              ul
                li 1. Предоставляя свои персональные данные Продавцу, Посетитель Сайта/Пользователь/Покупатель соглашается на их обработку Продавцом, в том числе в целях выполнения Продавцом обязательств перед Посетителем Сайта/Пользователем/Покупателем в рамках настоящей Публичной оферты , продвижения Продавцом товаров и услуг, проведения электронных и sms опросов, контроля результатов маркетинговых акций, клиентской поддержки, организации доставки товара Покупателям, проведение розыгрышей призов среди Посетителей Сайта/Пользователей/ Покупателей, контроля удовлетворенности Посетителя Сайта/Пользователя/Покупателя, а также качества услуг, оказываемых Продавцом.
                li 2. Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам, не исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.
                li 1. Продавец имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту и мобильный телефон Пользователя/Покупателя с его согласия, выраженного посредством совершения им действий, однозначно идентифицирующих этого абонента и позволяющих достоверно установить его волеизъявление на получение сообщения. Пользователь/Покупатель вправе отказаться от получения рекламной и другой информации без объяснения причин отказа путем информирования Lamoda о своем отказе по телефону +7 (499) 750-14-50 (для звонков из Москвы) и 8 800 333-14-48 (для звонков из регионов) либо посредством направления соответствующего заявления на электронный адрес Продавца: help@lamoda.ru. Сервисные сообщения, информирующие Пользователя/Покупателя о заказе и этапах его обработки, отправляются автоматически и не могут быть отклонены Пользователем/Покупателем.
              ul
                li 1. Продавец вправе использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию. Посетитель / Пользователь / Покупатель настоящим дает согласие на сбор, анализ и использование cookies, в том числе третьими лицами для целей формирования статистики и оптимизации рекламных сообщений.
                li 2. Продавец получает информацию об ip-адресе посетителя Сайта www.lamoda.ru. Данная информация не используется для установления личности посетителя.
                li 3. Продавец не несет ответственности за сведения, предоставленные Пользователем/Покупателем на Сайте в общедоступной форме.
                li 4. Продавец вправе осуществлять записи телефонных разговоров с Пользователем/Покупателем. При этом Продавец обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и/или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению Заказов, в соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и о защите информации».
              +e.subtitle Срок действия Публичной оферты
              ul
                li 1. 10.1 Настоящая Публичная оферта вступает в силу с момента ее акцепта Посетителем Сайта/Покупателем, и действует до момента отзыва акцепта Публичной оферты.



      block vendors
        // build:js js/vendor.js
        script( src="_assets/jquery/dist/jquery.min.js")
        script( src="_assets/owl.carousel/dist/owl.carousel.min.js")
        script( src="_assets/slick-carousel/slick/slick.min.js")
        script( src="_assets/magnific-popup/dist/jquery.magnific-popup.min.js")
        script( src="_assets/jQuery.mmenu/dist/jquery.mmenu.all.js")
        script( src="_assets/page-scroll-to-id/jquery.malihu.PageScroll2id.js")
        // endbuild
      block scripts
        // build:js js/main.js
        script( src="js/main.js")
        // endbuild
