extends _base

block content
  +b.SECTION.sec1
    .container
      +e.P.up-title Производим и устанавливаем
      +e.H1.title Дизайнерские кухни в севастополе
      +e.P.bottom-title с учётом Ваших желаний
      +b.A.btn._primary.js-popup(href="#popup-call") Получить консультацию

  +b.SECTION.sec2
    .container
      +e.title Выбираете кухню?
      +e.desc Знакомы эти проблемы?
      +e.IMG.girl(src="img/sec2-girl.jpg", alt="Знакомы эти проблемы?")
      +e.list
        +e.item._l
          +e.item-text
            strong Однообразие
            br
            | ассортимента
          +b.round-icon
            +b.I.icon._dsmile
        +e.item._r
          +b.round-icon
            +b.I.icon._money
          +e.item-text
            strong Дорогой
            br
            | дизайн-проект
        +e.item._l
          +e.item-text
            strong Низкое качество
            br
            | материалов
          +b.round-icon
            +b.I.icon._dlike
        +e.item._r
          +b.round-icon
            +b.I.icon._tief
          +e.item-text
            strong Сомнительные
            br
            | компании

  +b.SECTION.sec3#sec3
    .container
      +b.title
        +e.H2.title Кухни Mesto
        +e.P.desc - это уникальное соотношение цены и качества!
        +e.line
      +e.IMG.girl(src="img/sec3-girl.png", alt="Кухни Mesto")
      +e.list
        +e.item._l
          +e.item-text
            strong &gt;100
            br
            | видов фасадов кухонь
          +b.round-icon
            +b.I.icon._layer
        +e.item._r
          +b.round-icon
            +b.I.icon._helmet
          +e.item-text
            strong 56 лет
            br
            | суммарный опыт монтажников
        +e.item._l._lc
          +e.item-text
            strong 7 лет
            br
            | опыт дизайнер
          +b.round-icon
            +b.I.icon._paint
        +e.item._r._rc
          +b.round-icon
            +b.I.icon._cupboard
          +e.item-text
            strong &gt;150
            br
            | установленных кухонь в Севастополе за 2017 год
        +e.item._l
          +e.item-text
            strong 5000 м<sup>2</sup>
            br
            | производственных площадей
          +b.round-icon
            +b.I.icon._fabrik
        +e.item._r
          +b.round-icon
            +b.I.icon._tool
          +e.item-text
            strong
              +b.I.icon._infinite
            br
            | постобслуживание

  +b.SECTION.sec4#sec4
    .container
      +b.title
        +e.H2.title 15 лет гарантия на фурнитуру!
        +e.line

      +e.list
        +e.item
          +e.A.frame.js-popup-image(href="img/doc/1.jpg")
            +e.inner(style="background-image: url(img/doc/1.jpg)")
        +e.item
          +e.A.frame.js-popup-image(href="img/doc/1.jpg")
            +e.inner(style="background-image: url(img/doc/1.jpg)")
        +e.item
          +e.A.frame.js-popup-image(href="img/doc/1.jpg")
            +e.inner(style="background-image: url(img/doc/1.jpg)")
        +e.item
          +e.A.frame.js-popup-image(href="img/doc/1.jpg")
            +e.inner(style="background-image: url(img/doc/1.jpg)")


      +b.A.btn._primary._icon.js-popup-video(href="https://www.youtube.com/watch?v=VQOUp99KB9c")
        +b.I.icon._video
        span Смотреть видеопрезентацию

  +b.SECTION.sec5#sec5
    .container
      +b.title
        +e.H2.title Разнообразие фасадов на любой вкус
        +e.line
      +e.tab-nav
        a.active(href="#")
          span Лаковые кухни
        a(href="#")
          span Кухни 3-D акрил
        a(href="#")
          span Итальянские кухни
        a(href="#")
          span Кухни из натурального камня
        a(href="#")
          span Кухни кантри

    +e.tab-container
      -for(var i=0; i<5; i++)
        +e.tab-wrap
          .container
            +e.tab-content
              p
                strong Классические итальянские фасады из массива дерева ценных пород
                br
                | Традиционно используются для создания престижной кухонной мебели. Натуральные материалы, богатая отделка фасадов, стильный декор — всё это подчёркивает статус хозяев дома.
              +e.slider
                .owl-carousel
                  -for(var j=0; j<5; j++)
                    +b.slider-item
                      +e.preview(style="background-image: url(img/slide1.jpg)")
                      +e.bottom
                        +e.title Манчестер Серый жемчуг
                        +e.prc от 8735 
                          +b.SPAN.rouble -


  +b.SECTION.catalog#catalog
    .container
      +e.inner
        +e.IMG.img(src="img/catalog.png")
        +e.body
          +e.title
            span Подробный каталог
          p
            strong Вашему вниманию - самый понятный КАТАЛОГ кухонь МЕСТО!
            br
            | В нём есть всё, что Вам нужно: кухни от лаковых до итальянских с размерами и ценами. Откройте и посмотрите прямо сейчас!
          +b.A.btn._primary._icon(href="#")
            +b.I.icon._catalog
            span Смотреть каталог онлайн


  +b.SECTION.sec6
    .container
      +e.inner
        +e.title
          span Уже более 150 счастливых семей в Севастополе  проводят вечера на уютной кухни от Mesto!
        +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        +e.line
          +e.prc
            +b.I.icon._bank
            span Цена: от 8735 
              +b.SPAN.rouble -
          +e.time
            +b.I.icon._calendar
            span Срок: от 2-х недель

        +b.A.btn._primary.js-popup(href="#popup-call") Узнать подробности

  +b.SECTION.sec7#sec7
    .container
      +e.inner
        +e.form
          +b.form
            form(action="/")
              +e.title
                strong Оставьте свой номер телефона
              +e.P.text и мы свяжемся с Вами <br>для уточнения деталей
              +e.line
              +b.INPUT.field(type="text", placeholder="Введите номер телефона")
              +b.BUTTON.btn._primary._icon(type="submit")
                +b.I.icon._msg
                span Отправить
        +e.side
          +e.title
            mark Экономия<br> до 50 000 рублей
            br
            span на дизайн-проекте

          +e.item
            +b.I.icon._write
            | Специально для наших клиентов, мы бесплатно разрабатываем дизайн-проект Вашей будующей кухни!
          +e.subtitle Вам нужно только оставить заявку!
          +e.item
            +b.I.icon._taxi
            | Мы оплатим Вам такси до нашего офиса, обсудим все Ваши пожелания и создадим уникальный дизайн-проект!


  +b.SECTION.sec8
    .container
      +b.title
        +e.H2.title Команда Проффесионалов
        +e.line
      +e.list.owl-carousel
        //-+e.col
        +e.item
          +e.preview(style="background-image: url(img/man.jpg)")
          +e.bottom
            +e.line
            +e.name Андрей Иваненков
            +e.position Монтажник
        //-+e.col
        +e.item
          +e.preview(style="background-image: url(img/man.jpg)")
          +e.bottom
            +e.line
            +e.name Иван Хрилев
            +e.position Логистика
        //-+e.col
        +e.item
          +e.preview(style="background-image: url(img/man.jpg)")
          +e.bottom
            +e.line
            +e.name Тимофей Шугай
            +e.position Комплектование и фурнитуры
        //-+e.col
        +e.item
          +e.preview(style="background-image: url(img/man.jpg)")
          +e.bottom
            +e.line
            +e.name Мария Циганкова
            +e.position Дизайнер,<br>Главный проектировщик

  +b.SECTION.sec9#sec9
    .container
      +b.title
        +e.H2.title Полный цикл от идеи до воплощения!
        +e.line
      +e.P.desc Кухни Mesto - это уникальная компания в Севастополе и Крыму, которая продумывает Ваш проект, реализует его до мельчаших деталей и оснащает его всей необходимой техникой!

      +e.tab-nav
        a.active(href="#")
          span Кухонная техника
        a(href="#")
          span Столешницы
        a(href="#")
          span Фартуки
        a(href="#")
          span Наполнение кухонь

    +e.tab-container
      -for(var i = 0; i < 4; i++)
        +e.tab-wrap
          .container
            +e.tab-contant
              +e.line
                +e.H3.title Вытяжки
                +e.list.owl-carousel
                  //-+e.col
                  +e.preview(style="background-image: url(img/preview.jpg)")
                  //-+e.col
                  +e.preview(style="background-image: url(img/preview.jpg)")
                  //-+e.col
                  +e.preview(style="background-image: url(img/preview.jpg)")
                  //-+e.col
                  +e.preview(style="background-image: url(img/preview.jpg)")
              +e.line
                +e.H3.title Мойки
                +e.list.owl-carousel
                  //-+e.col
                  +e.preview(style="background-image: url(img/preview.jpg)")
                  //-+e.col
                  +e.preview(style="background-image: url(img/preview.jpg)")
                  //-+e.col
                  +e.preview(style="background-image: url(img/preview.jpg)")
                  //-+e.col
                  +e.preview(style="background-image: url(img/preview.jpg)")
  +b.SECTION.sec10#sec10
    .container
      +b.title
        +e.H2.title Выбери свою акцию
        +e.line

      +e.list
        +e.col
          +e.item
            +e.A.preview(href="#", style="background-image: url(img/sale1.jpg)")
            +e.bottom
              +e.line
              +e.H3.title Посудомойка в ПОДАРОК!
              +e.P.text  У нас полезная акция: к каждой кухне - посудомоечная машина в ПОДАРОК!
              +b.A.btn._primary.js-popup(href="#popup-call") Узнать подробнее
        +e.col
          +e.item
            +e.A.preview(href="#", style="background-image: url(img/sale2.jpg)")
            +e.bottom
              +e.line
              +e.H3.title УРА! СКИДКА на технику!
              +e.P.text В компании «МЕСТО» вся кухонная техника по оптовым ценам 
              +b.A.btn._primary.js-popup(href="#popup-call") Узнать подробнее
        +e.col
          +e.item
            +e.A.preview(href="#", style="background-image: url(img/sale3.jpg)")
            +e.bottom
              +e.line
              +e.H3.title Скидка 20% за предоплату!
              +e.P.text При внесении предоплаты получите ДОП.СКИДКУ 20%
              +b.A.btn._primary.js-popup(href="#popup-call") Узнать подробнее





  +b.SECTION.map#map-block
    .container
      +e.inner
        +e.UL.list
          +e.item
            +e.A.phone(href="#")
              +b.I.icon._phone-yellow
              span +7 (978) 133-79-19
          +e.item
            +e.map
              +b.I.icon._map-yellow
              span г. Севастополь, ул. Одесская д.1
          +e.item
            +e.A.mail(href="#")
              +b.I.icon._mail-yellow
              span info@kuhni-mesto.ru
          +e.item._social
            +e.social Присоединяйтесь:
              +b.A.vk(href="#")
                +b.I.icon._vk
              +b.A.in(href="#")
                +b.I.icon._in


    #map

    script.
      function initMap() {
        var uluru = {lat: 44.611850, lng: 33.517162};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru,
          styles: [
            {
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#f5f5f5"
                }
              ]
            },
            {
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#616161"
                }
              ]
            },
            {
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "color": "#f5f5f5"
                }
              ]
            },
            {
              "featureType": "administrative.land_parcel",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#bdbdbd"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#eeeeee"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#e5e5e5"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#ffffff"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#dadada"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#616161"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            },
            {
              "featureType": "transit.line",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#e5e5e5"
                }
              ]
            },
            {
              "featureType": "transit.station",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#eeeeee"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#c9c9c9"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            }
          ]
        });
        var image = {
          url: 'img/map_marker.png',
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(70, 89),
        };
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          icon: image
        });
      }
    script(async='', defer='', src='https://maps.google.ru/maps/api/js?key=AIzaSyBTjJj8YAkqkhIRDKmHIQK_Wiml9Wedxbs&callback=initMap')

