.nav
  background-color: #f7f7f7
  +r(768)
    display: none
  .fixed-menu &
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 7
  &__list
    display: flex

  &__item
    flex: 1 1 auto
    text-align: center
    font-size: 14px
    color: $color-default
    padding:
      top: 1em
      bottom: 1em
    position: relative
    &:hover
      span
        border-bottom-color: #dedede
    &:after
      content: ''
      position: absolute
      left: 0
      top: 50%
      margin-top: -10px
      height: 20px
      width: 1px
      background-color: #dedede
    &:last-child:before
      content: ''
      position: absolute
      right: 0
      top: 50%
      margin-top: -10px
      height: 20px
      width: 1px
      background-color: #dedede
    span
      +pm
      border: 1px solid transparent
