.footer
  line-height: 1.2
  font-size: 16px
  &__wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding: 20px 0
    +r(520)
      justify-content: center

  &__side
    margin-top: 10px
    +r(520)
      text-align: center

  &__polit
    color: #21146e
    text-decoration: underline
    &:hover
      text-decoration: none

  &__pit
    color: $color-default
    img
      max-width: 70px
      display: inline-block
      vertical-align: middle
      margin-left: 15px

